:ruby
  size = 800
  count = 1
  column =2
  column_count = 0

.span-11.pics
  - for image in @images
    - if count==column
      - column*=2
      - column_count += 1
    - count+=1
    .pic_container{:style => "float:left; margin:2px; width:#{size/column-column_count}px;"}
      %img{ :src => image.images.standard_resolution.url, 
            :style => "width:#{size/column - column_count*2}px; height:#{size/column - column_count*2}px; " }

- @images = nil
- GC.start

:javascript

