.span-11
  %ul#menu 
    %li
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/twitter.com')",
          :href => 'http://twitter.com/gustavocastro', 
          :target => '_blank' } twitter
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/facebook.com')",
          :href => 'http://facebook.com/goocastro', 
          :target => '_blank' } facebook
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/last.fm')",
          :href => 'http://www.last.fm/user/goocastro', 
          :target => '_blank' } last.fm
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/lilnkedin.com')",
          :href => 'http://www.linkedin.com/in/gustavolcastro', 
          :target => '_blank' } linkedin
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/flickr.com')", 
          :href => 'http://www.flickr.com/photos/18689328@N07', 
          :target => '_blank' } flickr
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/mail')", 
          :href => 'mailto:contact@gustavocastro.com', 
          :target => '_blank' } mail

.span-13.instagram.last
  %ul#slideshow
    - for image in @images
      %li
        %img{ :src => image.images.standard_resolution.url }

- @images = nil
- GC.start

:javascript
  $('#slideshow').scsSlideshow();
  
  $(function() {
    $('#menu li a').hover(function(){
      $(this).animate({'paddingLeft':'10px'},100);
    }, function(){
      $(this).animate({'paddingLeft':'0px'},100);
    });
  });

