.span-11
  %ul#menu 
    %li
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/twitter.com')",
          :href => 'http://twitter.com/gustavocastro', 
          :target => '_blank' } twitter
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/facebook.com')",
          :href => 'http://facebook.com/goocastro', 
          :target => '_blank' } facebook
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/last.fm')",
          :href => 'http://www.last.fm/user/goocastro', 
          :target => '_blank' } last.fm
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/lilnkedin.com')",
          :href => 'http://www.linkedin.com/in/gustavolcastro', 
          :target => '_blank' } linkedin
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/theauberginepanda.com')", 
          :href => 'http://theauberginepanda.com', 
          :target => '_blank' } work
    %li 
      %a{ :onclick => "javascript:pageTracker._trackPageview('outbound/mail')", 
          :href => 'mailto:contact@gustavocastro.com', 
          :target => '_blank' } mail

.span16
  - for image in @images
    .row
      .span3
        &nbsp;
      .span13
        %img(src="/images/test.jpg")
        =#%img{ :src => image.images.standard_resolution.url }

- @images = nil
- GC.start
