!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Gustavo Castro
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %meta{ :NAME => 'Description', :CONTENT => 'Gustavo Castro - Programmer' }
    %link{:href=>"/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

  %body
    .container
      .span-24.wrapper
        .span-24.main-box
          = yield

