!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{:name => 'Description', :content => "Gustavo Castro"}
    %meta{:content => "http://www.goo.wtf/", :property => "og:url"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "goo wtf", :property => "og:title"}/
    %meta{:content => "goo wtf", :property => "og:description"}/
    %meta{:content => "http://www.goo.wtf/images/ay5MYEp_460sa.gif", :property => "og:image"}/
    %title Gustavo Castro
    %link{:href => "css/normalize.css", :media => "all", :rel => "stylesheet"}/
    %link{:href => "css/app.css", :media => "all", :rel => "stylesheet"}/

  %body
    .container
      = yield

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-3763789-2");
      pageTracker._initData();
      pageTracker._trackPageview();
