.span-12
  %ul#menu 
    %li
      %a twitter
    %li 
      %a facebook
    %li 
      %a last.fm
    %li 
      %a linkedin
    %li 
      %a flickr
    %li 
      %a mail
.span-15.instagram
  = image_tag @image, :width => 545, :align => 'right'
