.span-12
  %ul#menu 
    %li
      %a twitter
    %li 
      %a facebook
    %li 
      %a last.fm
    %li 
      %a linkedin
    %li 
      %a flickr
    %li 
      %a mail
.span-15.instagram
  = image_tag @image1, :align => 'right', :id => 'instapic', 
    :picture1 => @image1,
    :picture2 => @image2,
    :picture3 => @image3,
    :picture4 => @image4,
    :picture5 => @image5,
    :picture6 => @image6,
    :picture7 => @image7
  %br/
