.span-12
  %ul#menu 
    %li
      %a{ :href => 'http://twitter.com/gustavocastro', :target => '_blank' } twitter
    %li 
      %a{ :href => 'http://facebook.com/goocastro', :target => '_blank' } facebook
    %li 
      %a{ :href => 'http://www.last.fm/user/goocastro', :target => '_blank' } last.fm
    %li 
      %a{ :href => 'http://www.linkedin.com/in/gustavolcastro', :target => '_blank' } linkedin
    %li 
      %a{ :href => 'http://www.flickr.com/photos/18689328@N07', :target => '_blank' } flickr
    %li 
      = mail_to('contact@gustavocastro.com', 'mail')
.span-15.instagram
  = image_tag @image1, :align => 'right', :id => 'instapic', 
    :picture1 => @image1,
    :picture2 => @image2,
    :picture3 => @image3,
    :picture4 => @image4,
    :picture5 => @image5,
    :picture6 => @image6,
    :picture7 => @image7
  %br/
