.span-5
  %ul#menu 
    %li
      %a twitter
    %li 
      %a facebook
    %li 
      %a last.fm
    %li 
      %a linkedin
    %li 
      %a flickr
    %li 
      %a mail
.span-22
  = image_tag @image, :width => 500, :align => 'right'
